body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ref-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.ref-anchor {
    display: block;
    text-align: center;
}
.ref-image {
    width: 75px;
}
.ref-tittle {
    display: inline-block;
    width: 100px;
    text-align: left;
}